@import url("https://cdn.jsdelivr.net/npm/harmonyos-sans-sc-webfont-splitted@1.1.0/dist/index.min.css");

:root {
  --vp-font-family-base:
    "HarmonyOS Sans SC",
    "Microsoft YaHei",
    "Segoe UI",
    sans-serif;
}

/* 全站正文 */

html,
body,
#app,
.VPApp {
  font-family: var(--vp-font-family-base);
}

/* Hero */

.VPHero,
.VPHero * {
  font-family: var(--vp-font-family-base) !important;
}

/* Navbar */

.VPNav,
.VPNav * {
  font-family: var(--vp-font-family-base) !important;
}

/* Sidebar */

.VPSidebar,
.VPSidebar * {
  font-family: var(--vp-font-family-base) !important;
}

/* Markdown */

.vp-doc,
.vp-doc * {
  font-family: var(--vp-font-family-base) !important;
}

/* 搜索框 */

.DocSearch,
.DocSearch * {
  font-family: var(--vp-font-family-base) !important;
}

/* 输入组件 */

input,
textarea,
button,
select {
  font-family: var(--vp-font-family-base) !important;
}